<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Aaxis\Practice\Block\Index\User">

        <plugin name="BeforeGetUserInfoByEmailPlugin" type="Aaxis\Practice\Plugin\BeforeGetUserInfoByEmail"
                sortOrder="1" disabled="false"/>

        <plugin name="AroundGetUserInfoByEmail" type="Aaxis\Practice\Plugin\AroundGetUserInfoByEmail" sortOrder="1"
                disabled="false"/>

        <plugin name="AfterGetUserInfoByEmail" type="Aaxis\Practice\Plugin\AfterGetUserInfoByEmail" sortOrder="1"
                disabled="false"/>
    </type>



</config>
